/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/utilizandoBibliotecas/libs/commons-email-1.5.jar
/AlgaJBasico/Cap9/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/EscritaArquivos.class
/AlgaJBasico/Cap9/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/AlgaJBasico/Cap9/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/utilizandoBibliotecas/libs/javax.mail.jar
/TerminoCursoAlga/.idea/libraries/javax_mail.xml
/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/leituraDeArquivos/LeituraDeArquivos.class
/TerminoCursoAlga/.idea/misc.xml
/TerminoCursoAlga/.idea/modules.xml
/AlgaJBasico/Cap9/target/maven-archiver/pom.properties
/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/RelembrandoAula.class
/RevisaoJBasic.iml
/TerminoCursoAlga/.idea/runConfigurations.xml
/TerminoCursoAlga/TerminoCursoAlga.iml
/TerminoCursoAlga/.idea/uiDesigner.xml
/TerminoCursoAlga/out/production/TerminoCursoAlga/com/capitulo10/utilizandoBibliotecas/bibliotecaemail/UsandoBibliotecas.class
/TerminoCursoAlga/.idea/vcs.xml
